*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}

:root{
    --grid-cols: 4;
    --grid-rows: 4;
    --dark-color-1: #171c1f;
    --dark-color-2: #13222e;
    --light-color-1: #d5f3ef;
    --light-color-2: #f2f3d1;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color-1);
}

.container{
    width: 600px;
    height: 600px;
    display: grid;
    gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border:whitesmoke 3px solid;
    background-color: var(--light-color-1);
    
}

.container > *{
    background-color: var(--dark-color-2);
}

.grid-item:hover{
    background-color: var(--light-color-1);
}

.side-bar{
    background: var(--light-color-2);
    /* width: 300px;
    height: 300px; */
    padding: 30px;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputNumber{
    height: 50px;
    font-size: 40px;
    width: 100px;
    margin: 10px;
    text-align: center;

}

.buttons{
    padding: 6px;
    background-color: var(--dark-color-2);
    color: var(--light-color-1);
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#grid-maker{
    padding: 6px;
}

#eraser{
    margin-top: 5px;
}

#lighten{
    margin-top: 5px;
    margin-bottom: 5px;
}

 /* The switch - the box around the slider */
 .switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 




  #hello{
      background-color: var(--dark-color-2);
  }